{% extends 'main.html' %}
{% block title %}Mision{% endblock %}
{% block content %}
<div class="bg-body-tertiary p-5 rounded">
    <h1>Mision</h1>
    <p class="lead">Utilizar mis conocimientos y habilidades en ingeniería de sistemas para diseñar, desarrollar e implementar soluciones tecnológicas innovadoras que mejoren la eficiencia, seguridad y accesibilidad de los sistemas informáticos, contribuyendo al progreso de las organizaciones y al bienestar de la sociedad.</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Leer mas &raquo;</a>
</div>
{% endblock %}