{%extends 'main.html' %}
{%block title %}inicio{% endblock%}
{% block content %}
<div class="bg-body-tertiary p-5 rounded">
    <h1>VISION</h1>
    <p class="lead">Ser una líder reconocida en el campo de la ingeniería de sistemas, destacándome por mi capacidad para resolver problemas complejos mediante el uso de tecnologías avanzadas, impulsando la transformación digital de las empresas y fomentando el desarrollo sostenible a través de soluciones tecnológicas éticas y responsables.</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Leer mas &raquo;</a>
</div>
{% endblock %}